# Specific files
10_results_tables.tex
08_age_compound_curves.R
forest_grid_vs_wui.R
inset_map_ny.qgz
microtus1.svg
mouse_silhouette1.svg
mouse_silhouette2.svg
nimble_rjmcmc_example.R
rat_silhouette1.svg
writeup.Rmd
writeup.docx
writeup.html
writeup_updated.pdf
number_of_extracted_livers.R

# Ignore data and output for now
data/
docs/
output/
results/
figs/

# Document types
.tex
.log
.html
10_results_tables.log
10_results_tables.html

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
